<%= render :partial => 'new' %>

<div class="firstrow">
  demo@progstr.com
  <a href="#"><img src='/assets/wrench.png' />Account</a>
  <a href="#"><img src='/assets/star.png' />Settings</a>
  <a href="#">Sign out</a>
</div>

<div class="secondrow">
  <img class='logo' src='/assets/logo.png' />
  <a href="#"><img src='/assets/cake.png' />Getting started</a>
  <a href="#"><img src='/assets/star.png' />Files</a>
  <a href="#"><img src='/assets/events.png' />Events</a>
  <a href="#"><img src='/assets/group.png' />Sharing</a>
  <a href="#"><img src='/assets/help.png' />Help</a>
</div>
<div class='leftcolumn'>
  <div class='search'>
    <img src='/assets/google_custom_search.png' />
    Search your Filerbox
  </div>
  <div class='source'>
    Get the full source code on <a href="https://github.com/progstr/filerbox-demo">GitHub</a>.
  </div>
</div>

<div class='rightcolumn'>
  <img src='/assets/minilogo.png' class='minilogo' />
  <div class="thirdrow">
    <a href='#' id='upload_link' class='working'>
      <img src='/assets/add.png' /> 
      <span>Upload</span>
    </a>
    <a href='http://filer-app.progstr.com/auth/demoAutoLogin' target='_new' class='working'>
      <img src='/assets/add.png' /> 
      <span>Control panel</span>
    </a>
    <a href="#"><img src='/assets/folder_add.png' />New folder</a>
    <!--<a href="#"><img src='/assets/folder_user.png' />Share a folder</a>-->
    <a href="#"><img src='/assets/bin_closed.png' />Show deleted files</a>
    <a href="#"><img src='/assets/star.png' />More</a>
  </div>  
  <table cellpadding='10px' cellspacing="10px">
    <tr>
      <th colspan=2>File</th>
      <th>Size</th>
      <th colspan=2>Uploaded</th>
    </tr>
    <% with_infos(@uploader, @boxfiles) do |boxfile, info| %>
      <tr>
        <td> <%= image_tag filetype_icon(info.content_type) %> </td>
        <td> <%= link_to info.name, boxfile.file.url %></td>
        <td> <%= file_size info.size %> </td>
        <td> <%= Time.at(info.created_at/1000).localtime.strftime("%Y-%m-%d %H:%M:%S") %> </td> 
        <td> <%= link_to 'delete', boxfile, :method => :delete %> </td>
      </tr>
    <% end %>
  </table>
</div>
